:root {
  // PRIMARY COLOR
  --c-primary-50: 238, 242, 255;   /* Lightest Blue */
  --c-primary-100: 224, 231, 255;  /* Light Blue */
  --c-primary-200: 199, 210, 254;  /* Pale Blue */
  --c-primary-300: 165, 180, 252;  /* Soft Blue */
  --c-primary-400: 129, 140, 248;  /* Light Indigo */
  --c-primary-500: 99, 102, 241;   /* Indigo */
  --c-primary-600: 79, 70, 229;    /* Royal Blue */
  --c-primary-700: 67, 56, 202;    /* Deep Blue */
  --c-primary-800: 55, 48, 163;    /* Dark Indigo */
  --c-primary-900: 49, 46, 129;    /* Darkest Blue */

  // SECONDARY COLOR
  --c-secondary-50: 240, 253, 250;  /* Very Light Teal */
  --c-secondary-100: 204, 251, 241; /* Light Teal */
  --c-secondary-200: 153, 246, 228; /* Aqua */
  --c-secondary-300: 153, 246, 228; /* Aqua */
  --c-secondary-400: 45, 212, 191;  /* Bright Teal */
  --c-secondary-500: 20, 184, 166;  /* Medium Teal */
  --c-secondary-600: 13, 148, 136;  /* Deep Teal */
  --c-secondary-700: 15, 118, 110;  /* Teal Blue */
  --c-secondary-800: 17, 94, 89;    /* Dark Teal */
  --c-secondary-900: 19, 78, 74;    /* Very Dark Teal */

  // NEUTRAL COLOR
  --c-neutral-50: 249, 250, 251;    /* Very Light Grey */
  --c-neutral-100: 243, 244, 246;   /* Light Grey */
  --c-neutral-200: 229, 231, 235;   /* Pale Grey */
  --c-neutral-300: 209, 213, 219;   /* Medium Light Grey */
  --c-neutral-400: 156, 163, 175;   /* Greyish Blue */
  --c-neutral-500: 107, 114, 128;   /* Slate Grey */
  --c-neutral-600: 75, 85, 99;      /* Dark Slate Grey */
  --c-neutral-700: 55, 65, 81;      /* Charcoal Grey */
  --c-neutral-800: 31, 41, 55;      /* Dark Charcoal */
  --c-neutral-900: 17, 24, 39;      /* Very Dark Charcoal */
}
